.nav,
.sub-menu-tabs .menu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  * {
      list-style: none
  }
}

.nav-link,
.sub-menu-tabs .menu a {
  display: inline-block;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;

    @include plain-hover-focus {
      color: $nav-disabled-link-hover-color;
      cursor: $cursor-disabled;
      background-color: transparent;
    }
  }
}


// Nav inline

.nav-inline {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}


//
// Tabs
//

.nav-tabs,
.sub-menu-tabs .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:after {
      background: $nav-tabs-border-color;
      content: '';
      height: 1px;
      left: 0;
      right: 0; 
      bottom: 0;
      position: absolute;
      z-index: 1;
  }

  .nav-item,
  .menu-item {
    margin-top: 0;

    + .nav-item,
    + .menu-item {
      margin-left: .5rem;
    }
  }

  .nav-link,
  .menu-item a {
    background: $gray-lightest;
    color: $gray;
    display: #000;
    font-weight: 600;
    padding: .9em .9em;
    border: 1px solid $nav-tabs-border-color;
    border-bottom: none;

    @include hover-focus {
        background: $brand-primary;
        color: #fff;
    }

    &.disabled {
      @include plain-hover-focus {
        color: $nav-disabled-link-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  .nav-link.active,
  .current-menu-item a,
  .ui-tabs-selected a {
      @include plain-hover-focus {
      color: $brand-primary;
      background-color: #fff;
      border-bottom-color: #fff;
      position: relative;
      z-index: 2;
    }
  }
  .current-menu-item.active a {
      color: $brand-orange;
  }
}

@include media-breakpoint-down(md) {
    .nav-tabs,
    .sub-menu-tabs .menu {
        align-items: baseline;
        .nav-item + .nav-item,
        .menu-item + .menu-item {
            margin-left: .25rem;
        }    
        .nav-link,
        .menu-item a {
            font-size: .85rem;
            font-weight: 500;
            padding: .5em .45em;
            text-align: center;
        }
    }
}

// legacy jquery ui tabs
.ui-tabs-hide {
	display: none;
}

//default tab panes
.tab-pane,
.ui-tabs-panel { // legacy jquery ui tabs
    padding-top: 2.25em;
}

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// Lines,
.nav-lines {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    justify-content: center;
    > li {
        margin: 0;
        padding: 0;
    }
    > li > a {
        border-bottom: 3px solid transparent;
        color: $brand-black;
        text-decoration: none;
        padding: 0 .25rem .3rem;
        position: relative;
        text-align: center;
    }
    > li:hover {
        > a {
            background: none;
            border-color: $brand-black;
            color: $brand-black;
            text-decoration: none;
        }
    }
    .active,
    a:focus {
        border-color: $brand-secondary;
        text-decoration: none;
    }
}

@include media-breakpoint-up(lg) {
    .nav-lines {
        > li {
            margin: 0 1em;
            padding: 0 .75rem;  
        }
        > li > a {
            padding: 0 .5rem .3rem;
        }
    }
}

$nav-local-x-padding: .7rem;
$nav-local-y-padding: .4rem;

.nav-local-header {
    font-size: .9em;
    padding: 0 $nav-local-x-padding;
}

.nav-local {
    li {
        margin: 0;
    }
    a {
        color: lighten($text-color,7.5%);
        display: block;
        font-weight: 500;
        line-height: 1.25;
        padding: $nav-local-y-padding $nav-local-x-padding;
        transition: all .25s;
        &:hover {
            background: $gray-lightest;
        }
        &:active,
        &:focus {
            background: none;
            text-decoration: none;
        }
        &.active {
            background: $gray-lighter;
            color: #000;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.nav-section {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    //justify-content: center;
    li {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 0 0 1px;
        padding: 0;
    }
    a {
        border: none !important;
        box-shadow: 0 0 0 1px $gray-light;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .9rem;
        font-weight: 600;
        flex: 1;
        text-align: center;
        padding: .6rem 1.2rem;
        &:hover {
            background: $gray-lightest;
            box-shadow: 0 0 0 1px $gray;
            color: $brand-black;
        }
    }
    .current-menu-item a {
        background: $brand-primary;
        box-shadow: 0 0 0 1px $brand-primary;
        color: #fff;
    }
}