.footer-container { // this is so stuck right sidebars don't flow over the footer
    position: relative;
    z-index: 2;
}

.site-footer {
    h3 {
        font-family: $font-webfont-two;
        font-size: .8rem;
        font-weight: 700;
        margin-bottom: .5rem;
        text-transform: uppercase;
        a {
            color: $text-color;
        }
    }
}
