body {
    padding-top: 189px;
}

// .body-fixed-top {
//     padding-top: 217px;
// }

//account for fixed header on anchor links
// :target::before { 
//     display: block; 
//     content: " "; 
//     margin-top: -$fixed-top; 
//     height: $fixed-top; 
//     visibility: hidden;
// }

.search-toggle {
    border: none;
    font-size: 1.6rem;
    transform: translateY(3px) translateX(0);
    position: relative;
    z-index: 102;
    &.is-toggled,
    &:active,
    &:focus {
        outline: none !important;
    }
    &.is-toggled {
        background: $gray-lighter; 
    }
}

.site-search {
    position: absolute;
    transform: translateX(0);
    right: 0;
    min-width: 300px;
    width: 50%;
    z-index: 101;
}

@include media-breakpoint-down(md) {
    .search-toggle {
        transform: translateY(15px) translateX(12px);
    }
    .site-search {
        transform: translateY(10px) translateX(12px);
        min-width: 100%;
    }
}

// .main-content {
//     min-height: 500px;
// }

.container,
.container-xs,
.container-sm {
    margin: 0 auto;
    @media (max-width: 1279px) {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }
    @include media-breakpoint-down(md) {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}

.container-lg,
.container-full {
    margin: 0 auto;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    @include media-breakpoint-down(md) {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}

.container-xs {
    max-width: 512px;
}

.container-sm {
    max-width: 768px;
}

.container {
    max-width: 1280px
}

.container-lg {
    max-width: 1440px;
}

.container-extended {
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
}

// bordered-grid columns
@include media-breakpoint-up(md) {
    .row-bordered {
        position: relative;
    	> [class*="col"],
    	> [class*="flex-block"] {
        	position: static;
        	&:after {
            	background: $border-color;
            	content: '';
            	display: block;
            	height: 100%;
            	position: absolute;
            	margin-left: -($grid-gutter-width / 2);
            	top: 0;
            	width: 1px;
        	}
        	&:first-child:after { display: none; }
    	}
    	> [class*="flex-block"] {
            &:first-child:after { display: block; }
            &:last-child:after { display: none; }
        }
    }
    .row-flush.row-bordered {
        > [class*="col"] {
            &:after {
                margin-left: 0;
            }
        }
    }
    .row-bordered {
        > [class*="flex-block"] {
        	&:after {
            	margin-left: 0;
        	}
        }
    }
/*
    .row-flex.row-bordered {
        > [class*="col"] {
            &:after {
                margin-left: -$grid-gutter-width;
            }
        }
    }
*/
}

.table-middle,
.table-fixed {
    display: table;
    width: 100%;
    > div {
        display: table-cell;
        padding-left: 1%;
        padding-right: 1%;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.table-middle {
    > div {
        vertical-align: middle;
    }
}

.table-fixed {
    table-layout: fixed;
}

.item-flex {
    display: flex;
    align-items: center;
}

.item-flex-main {
    flex: 1 1 0%;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.flex-1 { flex: 1 1 auto; }
.flex-initial { flex: initial; }
.flex-auto { flex: auto; }
.flex-none { flex: none; }
.flex-grow { flex-grow: 1; }
.flex-shrink { flex-shrink: 1; }
.flex-no-grow { flex-grow: 0; }
.flex-no-shrink	{ flex-shrink: 0; }

.flex-column {
    flex-direction: column;
}

.item-flex-column {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
}

.has-match-height-cta {
    position: relative;
    padding-bottom: 2rem;
}

.match-height-cta {
    position: absolute;
    bottom: $card-spacer-y;
    right: $card-spacer-x;
}

@include media-breakpoint-down(md) {
    .item-flex-responsive {
        display: block;
        .item-flex-main {
            margin-bottom: .65rem;
        }
    }
}

// for sticky sidebar elements using Scrollmagic. if the sidebar is smaller than a certain arbitrary threshold (i.e. my 13" Macbook pro as an example) add overflow to the sidebar
@media (max-height: 720px) {
    #sidebar {
        max-height: 520px;
        overflow: auto;
    }
}